.card-grid-dashboard{
    background-color: #cbd9ee;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.01);
    margin-left: 13px;
    margin-right: 13px;
}
.card-content-grid {  
    padding: 10px; 
    padding-left: 0px;
    padding-right: 0px; 

   text-align: center;
}

.title-setting{
    font-size: 17px;
    font-weight: bolder;
}
.list-account{
    background-color: blanchedalmond;
}
.native-input.sc-ion-input-md {
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(135 63 11);
    font-weight: bolder;
}
.native-textarea.sc-ion-textarea-md{
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(135 63 11);
    font-weight: bolder;
}

.native-input:focus {
    border: 1px solid rgb(198, 191, 191);
    background-color: white;

  }
  .native-textarea:focus {
    border: 1px solid rgb(198, 191, 191);
    background-color: white;

  }