.avatar_ns{
    min-width: 50px;
    min-height: 50px;
}
ion-modal#example-modal {
    --height: 100%;
    --border-radius: 16px;
    margin-top: 0px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);


}